# ğŸ“Œ è¯¾ç¨‹ä½œä¸šï¼šHW1ï¼ˆæ€»åˆ† 100 åˆ†ï¼‰

## **æäº¤è¯´æ˜**
ğŸ“© **æäº¤æ–¹å¼**ï¼šè¯·å°†ä½œä¸šå‘é€è‡³é‚®ç®± **jiqing@cup.edu.cn**

ğŸ“Œ **é‚®ä»¶ä¸»é¢˜æ ¼å¼**ï¼š
```ECO-HW1-å§“å-å­¦å·```

ğŸ“‚ **æ–‡ä»¶å‘½åæ ¼å¼**ï¼š
```ECO_HW1_å§“å_å­¦å·.ipynb```

ğŸ“… **æˆªæ­¢æäº¤æ—¥æœŸ**ï¼š
ğŸ‘‰ **2025 å¹´ 3 æœˆ 24 æ—¥ï¼ˆæ˜ŸæœŸä¸€ä¸Šè¯¾å‰ï¼‰**

---

## **æ±‚è§£æ¨¡å‹**
æˆ‘ä»¬ç ”ç©¶çš„æ¨¡å‹å¦‚ä¸‹ï¼š
$
\ln(wage) = \beta_0 + \beta_1 \cdot educ + \beta_2 \cdot exper + \beta_3 \cdot expersq + \epsilon
$

- å…¶ä¸­ï¼Œ$educ$ ä¸º **å†…ç”Ÿå˜é‡**ï¼Œå…¶ **å·¥å…·å˜é‡** é€‰æ‹©ä¸ºï¼š
  - $constant$ï¼ˆå¸¸æ•°é¡¹ï¼‰
  - $exper$ï¼ˆå·¥ä½œç»éªŒï¼‰
  - $expersq$ï¼ˆç»éªŒçš„å¹³æ–¹ï¼‰
  - $motheduc$ï¼ˆæ¯äº²å—æ•™è‚²ç¨‹åº¦ï¼‰
  - $fatheduc$ï¼ˆçˆ¶äº²å—æ•™è‚²ç¨‹åº¦ï¼‰



## **æ•°æ®å¯¼å…¥ä¸é¢„å¤„ç†**
æœ¬æ¬¡ä½œä¸šä½¿ç”¨ **Wooldridge ç»æµå­¦æ•°æ®é›†**ï¼Œè¯·ç¡®ä¿å·²å®‰è£… `wooldridge` åº“ï¼Œå¹¶ä½¿ç”¨ä»¥ä¸‹ä»£ç å¯¼å…¥ **Mroz** æ•°æ®é›†ï¼š

---

In [1]:
import wooldridge as woo
mroz = woo.dataWoo('mroz') # åŠ è½½ Mroz æ•°æ®é›†
mroz = mroz.dropna(subset=['lwage']) # åˆ é™¤ç¼ºå¤±å·¥èµ„æ•°æ®çš„è§‚æµ‹å€¼
mroz.head() # æ˜¾ç¤ºå‰å‡ è¡Œæ•°æ®

,inlf,hours,kidslt6,kidsge6,age,educ,wage,repwage,hushrs,husage,...,faminc,mtr,motheduc,fatheduc,unem,city,exper,nwifeinc,lwage,expersq
0,1,1610,1,0,32,12,3.3540,2.65,2708,34,...,16310.0,0.7215,12,7,5.0,0,14,10.910060,1.210154,196
1,1,1656,0,2,30,12,1.3889,2.65,2310,30,...,21800.0,0.6615,7,7,11.0,1,5,19.499981,0.328512,25
2,1,1980,1,3,35,12,4.5455,4.04,3072,40,...,21040.0,0.6915,12,7,5.0,0,15,12.039910,1.514138,225
3,1,456,0,3,34,12,1.0965,3.25,1920,53,...,7300.0,0.7815,7,7,5.0,0,6,6.799996,0.092123,36
4,1,1568,1,2,31,14,4.5918,3.60,2000,32,...,27300.0,0.6215,12,14,9.5,1,7,20.100058,1.524272,49

### **ä»»åŠ¡ä¸€ï¼šè®¡ç®—ä¸¤é˜¶æ®µæœ€å°äºŒä¹˜çš„ç³»æ•°æ–¹å·®å’Œ T å€¼ï¼ˆå…± 50 åˆ†ï¼‰**

---

### **ä¸¤é˜¶æ®µæœ€å°äºŒä¹˜æ³•ï¼ˆ2SLSï¼‰**
**ç›´æ¥ä¼°è®¡å…¬å¼**ï¼š
$
\beta = (X'Z(Z'Z)^{-1}Z'X)^{-1} X'Z(Z'Z)^{-1}Z'y
$

**ä¼°è®¡ç»“æœ**ï¼š
$
\hat{\ln(wage)} = 0.0481 + 0.0614 \cdot educ + 0.0442 \cdot exper - 0.0009 \cdot expersq
$

---

#### **ä»»åŠ¡ 1.1ï¼šè®¡ç®—ç³»æ•°ä¼°è®¡å€¼**
- ä¼°è®¡ **$\beta$ ç³»æ•°**ï¼Œå³ä½¿ç”¨ 2SLS æ–¹æ³•æ±‚è§£ **å›å½’ç³»æ•°ä¼°è®¡å€¼**ï¼ˆ10 åˆ†ï¼‰

#### **ä»»åŠ¡ 1.2ï¼šå‡è®¾è¯¯å·®é¡¹æœä»ç‹¬ç«‹åŒæ–¹å·®**
- è®¡ç®— **ç³»æ•°çš„æ–¹å·®** å’Œ **T å€¼**ï¼ˆ10 åˆ†ï¼‰

#### **ä»»åŠ¡ 1.3ï¼šå‡è®¾è¯¯å·®é¡¹æœä»ç‹¬ç«‹å¼‚æ–¹å·®**
- è®¡ç®— **ç³»æ•°çš„æ–¹å·®** å’Œ **T å€¼**ï¼ˆ10 åˆ†ï¼‰

#### **ä»»åŠ¡ 1.4ï¼šå‡è®¾è¯¯å·®é¡¹å­˜åœ¨ç»„å†…ç›¸å…³æ€§ï¼ˆèšç±»åˆ° city-levelï¼‰**
- è®¡ç®— **ç³»æ•°çš„æ–¹å·®ï¼ˆç»„å†…å¼‚æ–¹å·®èšç±»ï¼‰** å’Œ **T å€¼**ï¼ˆ10 åˆ†ï¼‰

#### **ä»»åŠ¡ 1.5ï¼šä½¿ç”¨ `statsmodels.api` å¯¹ä¸Šè¿°ä¸‰ç§æƒ…å†µè¿›è¡Œæ£€éªŒ**
- é‡‡ç”¨ `import statsmodels.api as sm` è¿›è¡Œæ£€éªŒï¼Œå¹¶æ¯”è¾ƒç»“æœï¼ˆ10 åˆ†ï¼‰

---

### **ä»»åŠ¡äºŒï¼šè®¡ç®—å¹¿ä¹‰çŸ©ä¼°è®¡ï¼ˆGMMï¼‰çš„ç³»æ•°æ–¹å·®å’Œ T å€¼ï¼ˆå…± 50 åˆ†ï¼‰**

### **å¹¿ä¹‰çŸ©ä¼°è®¡ï¼ˆGMMï¼‰**
**ä¸¤æ­¥æ³•ä¼°è®¡å…¬å¼**ï¼š$\hat{\beta}_{gmm} = (X' Z \Phi Z' X)^{-1} X' Z \Phi Z' y$
- å…¶ä¸­ï¼Œ**æœ€ä¼˜æƒé‡çŸ©é˜µ** åˆ†ä¸¤æ­¥è®¡ç®—ï¼š
  - ç¬¬ä¸€æ­¥ï¼š$\hat{\epsilon}^{(1)}$ åœ¨ $\Phi = (Z'Z)^{-1}$ çš„å‡è®¾ä¸‹ä¼°è®¡å¾—åˆ°
  - ç¬¬äºŒæ­¥ï¼š$\Phi = (Z'\hat{\epsilon}^{(1)} \hat{\epsilon}^{(1)'}Z)^{-1}$

**ä¼°è®¡ç»“æœ**ï¼š
$\hat{\ln(wage)} = 0.0477 + 0.0614 \cdot educ + 0.0451 \cdot exper - 0.0009 \cdot expersq$

---

#### **ä»»åŠ¡ 2.1ï¼šè®¡ç®—ç³»æ•°ä¼°è®¡å€¼**
- ä¼°è®¡ **$\beta$ ç³»æ•°**ï¼Œå³ä½¿ç”¨ GMM æ–¹æ³•æ±‚è§£ **å›å½’ç³»æ•°ä¼°è®¡å€¼**ï¼ˆ10 åˆ†ï¼‰

#### **ä»»åŠ¡ 2.2ï¼šå‡è®¾è¯¯å·®é¡¹æœä»ç‹¬ç«‹åŒæ–¹å·®**
- è®¡ç®— **ç³»æ•°çš„æ–¹å·®** å’Œ **T å€¼**ï¼ˆ10 åˆ†ï¼‰

#### **ä»»åŠ¡ 2.3ï¼šå‡è®¾è¯¯å·®é¡¹æœä»ç‹¬ç«‹å¼‚æ–¹å·®**
- è®¡ç®— **ç³»æ•°çš„æ–¹å·®** å’Œ **T å€¼**ï¼ˆ10 åˆ†ï¼‰

#### **ä»»åŠ¡ 2.4ï¼šå‡è®¾è¯¯å·®é¡¹å­˜åœ¨ç»„å†…ç›¸å…³æ€§ï¼ˆèšç±»åˆ° city-levelï¼‰**
- è®¡ç®— **ç³»æ•°çš„æ–¹å·®ï¼ˆç»„å†…å¼‚æ–¹å·®èšç±»ï¼‰** å’Œ **T å€¼**ï¼ˆ10 åˆ†ï¼‰

#### **ä»»åŠ¡ 2.5ï¼šä½¿ç”¨ `statsmodels.api` å¯¹ä¸Šè¿°ä¸‰ç§æƒ…å†µè¿›è¡Œæ£€éªŒ**
- é‡‡ç”¨ `import statsmodels.api as sm` è¿›è¡Œæ£€éªŒï¼Œå¹¶æ¯”è¾ƒç»“æœï¼ˆ10 åˆ†ï¼‰

---